/*绿色*/

{
    color: #0DFF92;
    亮绿
    color: #00887A;
    墨绿
    rgb(78, 205, 196);
    暗绿
}


/*红色*/

{
    color: #AC1D3F;
    暗红
}


/*蓝色*/
{
    color: #77A6F6;
    亮蓝
}

/*黄色*/

{
    color: #AC1D3F;
    
}
